<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758159769730-e3nsh1fh17q2kkp3lpl6vge8l6ca1d4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758159769730-e3nsh1fh17q2kkp3lpl6vge8l6ca1d4a</string>
	<key>API_KEY</key>
	<string>AIzaSyDvVxNTtGFAhJVsFNVFNPQQXnEaCNYCvwo</string>
	<key>GCM_SENDER_ID</key>
	<string>758159769730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.shohi.memberSite</string>
	<key>PROJECT_ID</key>
	<string>member-site-2d26e</string>
	<key>STORAGE_BUCKET</key>
	<string>member-site-2d26e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758159769730:ios:360bec79df0b3656f8349b</string>
	<key>DATABASE_URL</key>
	<string>https://member-site-2d26e-default-rtdb.firebaseio.com</string>
</dict>
</plist>